<h1>Creer un nouveau gossip </h1><br>

<%= form_for @gossip do |f| %>
    titre : <%= f.text_field :title %><br />
    Contenu : <%= f.text_field :content %><br />
    <%= f.number_field :user_id %>
    <%= f.submit %>
  <% end %>